.*.swp
*.DS_Store*
*.pyc
*build*
*.1*
*.xcodeproj*
*#*
*.aux
*.bbl
*.gz
*.blg
*.out
*.pdf
*.log
~$*
*Debug*
*Release*
*.cache
*.suo*
*.settings*
*Settings*
*.user*
*.config*
code/sw-recorded-macros
code\sw-recorded-macros
